<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> SATAN - About Me </title>
      <!-- use the CSS at public/css/style.css -->
      <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1> About Me</h1>

    <!-- display public/images/sign.gif -->
      <img class='pic' src="/images/sign.gif">

    <p class="forwards">Oh yeah

        Some people say my love cannot be true

        Please believe me, my love, and I'll show you

        I will give you those things you thought unreal

        The sun, the moon, the stars all bear my seal

        Oh yeah

        Follow me now and you will not regret

        Leaving the life you led before we met

        You are the first to have this love of mine

        Forever with me 'till the end of time

        Your love for me has just got to be real

        Before you know the way I'm going to feel

        I'm going to feel
        I'm going to feel

        Oh yeah

        Now I have you with me, under my power

        Our love grows stronger now with every hour

        Look into my eyes, you'll see who I am

        My name is Lucifer, please take my hand

        Oh yeah

        Follow me now and you will not regret

        Leaving the life you led before we met

        You are the first to have this love of mine

        Forever with me 'till the end of time

        Your love for me has just got to be real

        Before you know the way I'm going to feel

        I'm going to feel

        I'm going to feel

        Oh yeah

        Now I have you with me, under my power

        Our love grows stronger now with every hour

        Look into my eyes, you'll see who I am

        My name is Lucifer, please take my hand     </p>
    <p class="backwards"> dnah ym ekat esaelp ,reficuL si eman yM

          ma I ohw ees ll'uoy ,seye ym otni kooL

          ruoh yreve htiw won regnorts sworg evol ruO

          rewop ym rednu ,em htiw uoy evah I woN

          haey hO

          leef ot gniog m'I

          leef ot gniog m'I

          leef ot gniog m'I yaw eht wonk uoy erofeB

          laer eb ot tog tsuj sah em rof evol ruoY

          emit fo dne eht llit' em htiw reveroF

          enim fo evol siht evah ot tsrif eht era uoY

          tem ew erofeb del uoy efil eht gnivaeL

          terger ton lliw uoy dna won em wolloF

          haey hO

          dnah ym ekat esaelp ,reficuL si eman yM

          ma I ohw ees ll'uoy ,seye ym otni kooL

          ruoh yreve htiw won regnorts sworg evol ruO

          rewop ym rednu ,em htiw uoy evah I woN

          haey hO

          leef ot gniog m'I

          leef ot gniog m'I

          leef ot gniog m'I yaw eht wonk uoy erofeB

          laer eb ot tog tsuj sah em rof evol ruoY

          emit fo dne eht llit' em htiw reveroF

          enim fo evol siht evah ot tsrif eht era uoY

          tem ew erofeb del uoy efil eht gnivaeL

          terger ton lliw uoy dna won em wolloF

          haey hO

          laes ym raeb lla srats eht ,noom eht ,nus ehT

          laernu thguoht uoy sgniht esoht uoy evig lliw I

          uoy wohs ll'I dna ,evol ym ,em eveileb esaelP

          eurt eb tonnac evol ym yas elpoep emoS

          haey hO </p>

    <!-- app.get('/gallery', (...) => -->
      <a href='/gallery'> Photo Gallery </a>
      <br>
  <!-- app.get('/', (...) => -->
    <a href="/"> Back to Home </a>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src='/ion.sound-3.0.7/ion.sound.min.js'></script>
    <script src='/js/front.js'></script>
  </body>
</html>
