<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Photo Gallery </title>
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div id='message'></div>
    <div class='regular'>
    <h1> Photo Gallery </h1>

    <!-- display public/images/symbols.gif -->
      <img  class='pic'id="symbols"src="/images/symbols.gif">
    <p class="forwards">Stare closely at the images to reveal a hidden message   </p>
    <p class="backwards">egassem neddih a laever ot segami eht ta ylesolc eratS</p>
<!-- app.get('/about', (...) => -->
    <a href="/about"> About Me </a>
    <br>
    <!-- app.get('/', (...) => -->
      <a href="/"> Back to Home </a>
    </div>
      <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src='/ion.sound-3.0.7/ion.sound.min.js'></script>
      <script src='/js/front.js'></script>
  </body>
</html>
