<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> SATAN </title>
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <h1> SATAN </h1>
  <!-- display public/images/satan.gif -->
    <img class='pic'src="/images/satan.gif">
<p class="forwards">Woe to you, oh Earth and sea, for the Devil sends the Beast with wrath

    Because he knows the time is short

    Let him who hath understanding reckon the number of the Beast

    For it is a human number, its number is six hundred and sixty six</p>
    <p class= "backwards"> xis ytxis dna derdnuh xis si rebmun sti ,rebmun namuh a si ti roF

     tsaeB eht fo rebmun eht nokcer gnidnatsrednu htah ohw mih teL

      trohs si emit eht swonk eh esuaceB

      htarw htiw tsaeB eht sdnes liveD eht rof ,aes dna htraE ho ,uoy ot eoW</p>
<!-- app.get('/about', (...) => -->
    <a href="/about"> About Me </a>
    <br>
    <!-- app.get('/contact', (...) => -->
      <a href='/gallery'> Photo Gallery </a>
      <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src='/ion.sound-3.0.7/ion.sound.min.js'></script>
      <script src='/js/front.js'></script>
  </body>
</html>
